<div class="h-screen w-screen flex justify-center items-center p-8">
    <div class="shadow-2xl max-h-[200px] max-w-[200px] sm:max-h-[500px] sm:max-w-[500px] w-full h-full lg:h-full  flex justify-center items-center rounded-full animate-bounce w-6 h-6 p-5 cursor-pointer" 
    (click)="onGetStartedClick()"
     matRipple
     [matRippleCentered]="true"
     [matRippleDisabled]="false"
     [matRippleUnbounded]="true">
     <button class="lg:w-[300px] lg:!h-[100px] lg:text-2xl !rounded-xl" 
     mat-flat-button color="warn">Get Started</button>
    </div>
</div>
