<div class="max-w-full sm:w-[500px] w-full px-5 sm:px-0 rounded overflow-hidden ">
    <div class="px-2 pt-3 pb-2">
        <h1 class="font-bold !mb-0">Name</h1>
    </div>
    <div class="relative min-h-full sm:min-h-[300px] max-h-[400px] h-full border border-[#f1f1f1] sm:rounded-lg rounded-2xl  ">
        <img class="w-full sm:rounded-lg rounded-2xl onject-cover" src="{{postData.imageUrl}}" alt="Sunset in the mountains">
    </div>
    <div class="flex justify-between px-1 pt-1 text-gray-400">
      <div class="flex gap-x-2 justify-start  ">
          <mat-icon class="text-xl">favorite_border</mat-icon>
          <mat-icon class="text-xl">chat_bubble_outline</mat-icon>
          <mat-icon class="text-xl">reply</mat-icon>
      </div>
      <div>
        <mat-icon class="text-xl">save</mat-icon>
      </div>
    </div>
    <div class="px-2 py-3 pt-0">
      <p class="text-gray-700 text-sm text-gray-400">
        {{postData?.comment}}
      </p>
    </div>
    <div class="px-2 py-3 pt-0">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
    </div>
  </div>